{% extends "cie/header.html" %}
{% load crispy_forms_tags %}

{% block content%}

<div class='row'>
    <div class="col-sm-6 col-sm-offset-2" >

{% if message %} {{message}}<br>
        <a href='/stafflist/'> <input type="submit" value="back" class="btn btn-primary"></a>

{% else %}
<form class="" action = "" method="post">

        {% csrf_token %}
        {{form|crispy}}
        <input type="submit" value="add" class="btn btn-primary">


    </form>
{% endif %}
        </div>
</div>
{% endblock %}