{% extends "cie/header.html" %}
{% block content %}
    {%if resultset %}
    <table rules="all" border="1" cellpadding="5">
  <thead>
    <th> staff</th>
    <th> subject</th>
    <th> section</th>
  </thead>
    <tbody>
         {% for id,subname,sec in resultset %}

            <tr>
                <td>{{ id }}</td>
                <td>{{ subname }}</td>
                <td>{{ sec }}</td>

            </tr>
        {% endfor %}
  </tbody>
</table>


    {% else %}<br><p>No results found...</p><br>
    {% endif %}

<a  href='/addfaculty/' ><input type="submit" value="addfaculty" class="btn btn-primary"></a>
<a  href='/deletefaculty/' ><input type="submit" value="deletefaculty" class="btn btn-primary"></a>



{% endblock %}